# Python
__pycache__/
*.pyc
.venv/
.env
*.env
!.env.example
!backend/.env.example
!frontend/.env.example

# Node
node_modules/
.vite/

# Database
*.db
backend/dev

# OS
.DS_Store
Thumbs.db

# Secrets (DO NOT COMMIT)
backend/app/config/firebase_key.json


# Frontend build output
frontend/dist/
